html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
    z-index: 1000;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */
.deck {
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
    width: 45px;
    text-align: left;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

.score-panel .timer {
    padding: 0 0 0 10px;
    min-width: 25px;
    text-align: center;
    display: inline-block;
}

.score-panel .moves {
    padding: 0 5px 0 0;
    min-width: 25px;
    text-align: right;
    display: inline-block;
}

.restart-button {
    cursor: pointer;
}

.modal-outer-flex-container {
    display: none;
    align-items: center;
    justify-content: center;
    align-content: center;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 2000;
    min-height: 100%;
    min-width: 100%;
}

.modal-outer-flex-container .show {
    display: flex;
}

.modal-inner-flex-container {
    border-radius: 1em 1em 1em 1em;
    padding: 15px;
    background:white;
    max-height: 80%;
    max-width: 80%;
    border: solid 3px #000;
    box-shadow: 5px 5px 8px #333;
}

.modal-title {
    float: left;
}

.modal-header .modal-dismiss-btn {
    float: right;
    cursor: pointer;
    color: #000;
}

.modal-body {
    overflow-x: scroll;
    clear: both;
}

.modal-body table {
    border: 0;
}

.modal-footer button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    width: 100px;
    height: 50px;
    border-radius: 0.5em;
    background-color: #109;
    color: #fff;
    font-size: 16px;
    box-shadow: 5px 5px 8px #ccc;
}

.modal-footer button:hover {
    background-color: #149;
}

/* Media Queries */
@media only screen and (min-width: 750px) {

    .deck {
        width: 660px;
        min-height: 680px;
        padding: 32px;
    }

    .deck .card {
        height: 125px;
        width: 125px;
    }

    .score-panel {
        font-size: 24px;
        width: 550px;
    }

    .score-panel .stars {
        margin: 0 5px 0 0;
        width: 90px;
    }

    .score-panel .timer {
        padding: 0 0 0 100px;
        min-width: 50px;
    }

    .score-panel .moves {
        padding: 0 10px 0 50px;
        min-width: 50px;
    }

}

@media only screen and (max-width: 749px) {

    .deck {
        width: 450px;
        min-height: 450px;
        padding: 24px;
    }

    .deck .card {
        height: 85px;
        width: 85px;
    }

    .score-panel {
        width: 250px;
    }

}


@media only screen and (max-width: 485px) {

    .deck {
        width: 300px;
        min-height: 300px;
        padding: 18px;
    }

    .deck .card {
        height: 56px;
        width: 56px;
    }

    .deck .card.show {
        font-size: 24px;
    }

    .deck .card.match {
        font-size: 24px;
    }

    .score-panel {
        width: 200px;
    }

}